*.dylib
*.so
*.o
C.2
*.mod
cmake-build/
# compiled binaries
bpic2/cbpic2
bpic2/fbpic2
bpic3/cbpic3
bpic3/fbpic3
gpubpic2/cgpubpic2
gpubpic2/fgpubpic2
gpufbpic2/cgpufbpic2
gpufbpic2/fgpufbpic2
gpufpbpic2/cgpufpbpic2
gpufpbpic2/fgpufpbpic2
gpufpic2/cgpufpic2
gpufpic2/fgpufpic2
gpufppic2/cgpufppic2
gpufppic2/fgpufppic2
gpupbpic2/cgpupbpic2
gpupbpic2/fgpupbpic2
gpupic2/cgpupic2
gpupic2/fgpupic2
gpuppic2/cgpuppic2
gpuppic2/fgpuppic2
mbpic2/cmbpic2
mbpic2/fmbpic2
mpbpic2/cmpbpic2
mpbpic2/fmpbpic2
mpic2/cmpic2
mpic2/fmpic2
mppic2/cmppic2
mppic2/fmppic2
pbpic2/cpbpic2
pbpic2/fpbpic2
pic2/cpic2
pic2/fpic2
pic3/cpic3
pic3/fpic3
ppic2/cppic2
ppic2/fppic2
vbpic2/cvbpic2
vbpic2/fvbpic2
vpic2/cvpic2
vpic2/fvpic2